.container{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #48cae4;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0,0,0,0.5);
    width: 25rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #ade8f4;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.image{
    object-fit: cover;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    height: 2rem;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    border-left: 1px solid black;
}

button{
    border: none;
    padding: 0.5rem 1rem;
    transition: 0.1s all ease;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

button:hover{
    background: #caf0f8;
    border: 0.5px solid rgb(0,0,0,0.5);
    transform: scale(1.02) ;
}

.loginHeading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}